body{
  background-color: black;
}

.heading{
  font-family: 'Raleway', sans-serif;
  color: #b5b5b5;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.text{

  font-family: 'Raleway', sans-serif;
  color: #a8a8a8;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin-top: 10px;
  margin-left: 300px;
  margin-right: 300px;

}

.text-donate{

  font-family: 'Raleway', sans-serif;
  color: #a8a8a8;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 300px;

}

.gbg{

  font-family: 'Raleway', sans-serif;
  color: #a8a8a8;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 300px;

}

.credits{
  font-family: 'Raleway', sans-serif;
  color: #a8a8a8;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin-top: 25px;
    line-height: 1.3;
}

.contact{
  font-family: 'Raleway', sans-serif;
  color: #a8a8a8;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin-top: 25px;
  line-height: 1.6;
}

.image{
  margin-top: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.donate{
  margin-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.donate:hover{
  opacity: 0.8;
}
