body{
  background-color: black;
}

.heading{
  font-family: 'Raleway', sans-serif;
  color: #b5b5b5;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.text{

  font-family: 'Raleway', sans-serif;
  color: #a8a8a8;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin-top: 10px;
  margin-left: 300px;
  margin-right: 300px;
  line-height: 1.4;

}


a{
  padding-top: 20px;
  margin-left: 30px;
  font-family: 'Raleway', sans-serif;
  color: #b5b5b5;
  font-size: 20px;
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}



.image{
  margin-top: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.instructions{
  margin-top: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

