/*
#071e3d
#1f4287
#278ea5
#21e6c1
https://colorhunt.co/palette/132247


#283149
#404b69
#00818a
#dbedf3
https://colorhunt.co/palette/118962

*/

body {
  background-color: #eaece5;
}

li {
  display: table;
  margin: 0 auto;
}

.text-centre {
  font-family: 'Titillium Web', sans-serif;
  color: #b3dffc;
  margin-left: 20px;
  text-align: center;
}

.title{
  font-family: 'Titillium Web', sans-serif;
  color: #3b3a30;
  text-align: center;
  font-size: 40px; 
}

.subtitle{
  font-family: 'Titillium Web', sans-serif;
  color: #3b3a30;
  text-align: center;
  font-size: 25px; 
}

.courses{
  font-family: 'Titillium Web', sans-serif;
  color: #3b3a30;
  text-align: center;
  font-size: 15px; 
}

a{
    font-family: 'Titillium Web', sans-serif;
  color: #97a6a3;;
  text-align: center;
  font-size: 15px; 
}